@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url('reset.css');
@import url('effects.css');

p,
h1,
h2,
.button {
  font: 400 28px 'Cabin', serif;
  line-height: 34px;
}

/* ==== Top Navbar ==== */

body > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EBEDEC;
  padding: 10px 35px;
}

#header-logo {
  width: 200px;
}

body > nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  color: #363739;
}

body > nav li {
  margin: 0 12px;
}

body > nav > a {
  background: url(../images/logo/chronos_logotype.png);
  min-width: 209px;
  height: 32px;
  background-size: cover;
}

body > nav a img {
  width: 45px;
}

/* ==== Table of Contents ==== */
#toc {
  width: 31vw;
  margin-top: 250px;
  position: sticky;
  top: 20px;
  align-self: flex-start;
}

#toc > ul {
  width: 90%;
}

#toc li {
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

#toc li.h2 {
  font-size: 24px;
  margin-left: 80px;
  color: #D6CBC9;
}

#toc li.h2.active {
  color: #36373B;
}

#toc li.h2::before {
  content: "- ";
  font-size: 40px;
  vertical-align: -3px;
  font-weight: bold;
}

#toc li.h3 {
  font-size: 18px;
  margin-left: 45px;
}

/* ==== Bibliography ==== */
main {
  display: flex;
}

article {
  width: 74vw;
}

article h1 {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 700;
  color: #D6CBC9;
  padding: 115px 0 85px 0;
  line-height: 72px;
}

article h2 {
  font-size: 48px;
  margin-bottom: 22px;
}

article h3 {
  font-size: 36px;
  font-family: 'Cabin', sans-serif;
  color: #4C5870;
  margin: 20px 0;
}

article div {
  width: 85%;
}

article a {
  color: #69C;
}

p + h2 {
  margin-top: 80px;
}

main p {
  font-size: 22px;
  line-height: 30px;
}

main p:last-of-type {
  margin-bottom: 80px;
}

em {
  font-style: italic;
}

/* ==== Footer ==== */
footer {
  background: #36373B;
  color: #FEFEFE;
  text-align: center;
}

footer p:first-of-type {
  color: #EBEDEC;
  font-size: 22px;
  padding-top: 40px;
}

footer p:last-of-type {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* ==== Media Queries ==== */
@media screen and (max-width: 1001px) {
  #toc li.h2 {
    margin-left: 40px;
  }
}

@media screen and (max-width: 831px) {
  #toc li.h2 {
    margin-left: 10px;
  }
}

@media screen and (max-width: 690px) {
  body > nav {
    display: none;
  }

  #toc {
    display: none;
  }

  article {
    width: 100vw;
  }

  #markdown {
    width: 90%;
    margin: 0 auto;
  }

  article h1 {
    text-align: center;
  }
}

@media screen and (max-width: 525px) {
  article h1 { font-size: 60px; }
}
