@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700|Raleway:200');
@import url('reset.css');
@import url('effects.css');

p,
h1,
h2,
table,
ol,
article ul,
.button {
  font: 400 28px 'Cabin', serif;
  line-height: 34px;
}

/* ==== Top Navbar ==== */

body > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EBEDEC;
  padding: 10px 35px;
}

#header-logo {
  width: 200px;
}

body > nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  color: #363739;
}

body > nav li {
  margin: 0 12px;
}

body > nav > a {
  background: url(../images/logo/chronos_logotype.png);
  min-width: 209px;
  height: 32px;
  background-size: cover;
}

body > nav a img {
  width: 45px;
}

/* ==== Table of Contents ==== */
#toc {
  width: 31vw;
  margin-top: 250px;
  position: sticky;
  top: 20px;
  align-self: flex-start;
}

#toc > ul {
  width: 90%;
}

#toc li {
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

#toc li.h2 {
  font-size: 24px;
  margin-left: 80px;
  color: #D6CBC9;
}

#toc li.h2.active {
  color: #36373B;
}

#toc li.h2::before {
  content: "- ";
  font-size: 40px;
  vertical-align: -3px;
  font-weight: bold;
}

#toc li.h3 {
  font-size: 18px;
  margin-left: 45px;
  margin-bottom: 5px;
}

/* ==== Case Study ==== */
main {
  display: flex;
}

article {
  width: 74vw;
}

article h1 {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 700;
  color: #D6CBC9;
  padding: 115px 0 85px 0;
  line-height: 72px;
}

article h2 {
  font-size: 48px;
  margin-bottom: 22px;
}

article h3 {
  font-size: 36px;
  font-family: 'Cabin', sans-serif;
  color: #4C5870;
  margin-bottom: 20px;
}

article div {
  width: 85%;
}

article a { color: #69C; }

p + h2 {
  margin-top: 80px;
}

main p {
  color: #363739;
}

main p,
pre,
ol,
article ul { margin-bottom: 30px; }

main p,
ol,
article ul { font-size: 22px; }

main p {
  line-height: 30px;
}

ol,
article ul { padding-left: 50px; }

ol { list-style: decimal; }
article ul { list-style: disc; }

.caption {
  font-style: italic;
  text-align: center;
}

article p > code {
  background: #D6CBC9;
  padding: 2px;
  border-radius: 5px;
  font-size: 17px;
}

/* ==== Table ==== */
table {
  font-size: 22px;
  border-collapse: separate;
  border-radius: 10px;
  margin: 0 auto 30px auto;
}

thead {
  background: #4D5970;
  color: #FEFEFE;
}

th {
  padding: 5px;
  width: 50%;
}

td { padding: 5px 10px; }

tbody tr:nth-child(even) { background: #EBEDEC; }
tbody tr:nth-child(odd) { background: #FEFEFE; }

table,
pre { box-shadow: 3px 6px 10px #A7A7A7; }

tr:first-child th:first-child { border-top-left-radius: 10px; }
tr:first-child th:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }

/* ==== Code Block ==== */
pre {
  background: #303133;
  border-radius: 10px;
  color: #C5CCC6;
  display: inline-block;
}

blockquote {
  background: #D6CBC9;
  border-radius: 10px;
}

blockquote p {
  padding: 20px;
  font-style: italic;
}

div.code-block {
  display: flex;
  justify-content: center;
  width: 100%;
}

code { font-family: monaco, monospace; }

code[class*="language"] {
  display: block;
  line-height: 20px;
  margin: 10px 30px -3px 30px;
}

.json-key { color: #DF5763; }
.hl-red { color: #DF5763; }
.json-value-string { color: #9CE469; }
.hl-green { color: #9CE469; }
.json-value-number, .js-constant { color: #FFAB40; }
.hl-orange { color: #FFAB40; }
.hl-purple { color: #E48FFE; }
.hl-teal { color: #68D9ED; }


/* ==== Footer ==== */
footer {
  background: #36373B;
  color: #FEFEFE;
  text-align: center;
}

footer p:first-of-type {
  color: #EBEDEC;
  font-size: 22px;
  padding-top: 40px;
}

footer p:last-of-type {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* ==== Media Queries ==== */
@media screen and (max-width: 1001px) {
  #toc li.h2 {
    margin-left: 40px;
  }
}

@media screen and (max-width: 831px) {
  #toc li.h2 {
    margin-left: 10px;
  }
}

@media screen and (max-width: 690px) {
  body > nav {
    display: none;
  }

  #toc {
    display: none;
  }

  article {
    width: 100vw;
  }

  #markdown {
    width: 90%;
    margin: 0 auto;
  }

  article h1 {
    text-align: center;
  }
}
