@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700');

main p {
  font-family: 'Cabin', serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFF;
  padding: 10px 35px;
}

#header-logo {
  width: 200px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  color: #363739;
}

nav li {
  margin: 0 12px;
}

nav > a {
  background: url(../images/logo/chronos_logotype.png);
  min-width: 209px;
  height: 32px;
  background-size: cover;
}

nav a img {
  width: 45px;
}

/* ==== Splash ==== */
#splash {
  background: #EBEDEC;
  min-height: 500px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0 15px;
  background: url(../images/chronos_intrographic_Intro_Text.png);
  width: 848px;
  height: 380px;
  background-size: 100%;
  color: transparent;
  background-repeat: no-repeat;
}

/* ==== Tracker ==== */
#tracker {
  background: #4C586F;
  color: #FFF;
  font-family: 'Cabin', sans-serif;
  display: flex;
  /* align-items: center; */
}

#tracker img {
  width: 480px;
  height: 392px;
}

.text-box {
  width: 70%;
}

.box {
  width: 50vw;
  display: flex;
  justify-content: center;
  padding: 165px 0px;
}

h2 {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 30px;
}
